<?xml version="1.0"?>
<config>
    <modules>
        <Lalatteria_StopCartMerge>
            <version>0.0.1</version>
        </Lalatteria_StopCartMerge>
    </modules>
    <global>
        <models>
            <stopcartmerge>
                <class>Lalatteria_StopCartMerge_Model</class>
            </stopcartmerge>
        </models>
        <events>
            <sales_quote_merge_before>
                <observers>
                    <Lalatteria_stopcartmerge_observer>
                        <type>singleton</type>
                        <class>stopcartmerge/observer</class>
                        <method>stopCartMerge</method>
                    </Lalatteria_stopcartmerge_observer>
                </observers>
            </sales_quote_merge_before>
        </events>
    </global>
</config>