<?xml version="1.0"?>
<config>
    <global>
        <models>
            <cartpopup>
            <class>Lalatteria_Cartpopup_Model</class>
            </cartpopup>
        </models>
        <blocks>
            <cartpopup>
            <class>Lalatteria_Cartpopup_Block</class>
            </cartpopup>
        </blocks>
        <helpers>
            <cartpopup>
            <class>Lalatteria_Cartpopup_Helper</class>
            </cartpopup>
        </helpers>
        <events>
            <sales_quote_merge_before>
                <observers>
                    <Lalatteria_Cartpopup_observer>
                        <type>singleton</type>
                        <class>cartpopup/observer</class>
                        <method>stopCartMerge</method>
                    </Lalatteria_Cartpopup_observer>
                </observers>
            </sales_quote_merge_before>
        </events>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <cartpopup>
                        <type>model</type>
                        <class>cartpopup/observer</class>
                        <method>showPopup</method>
                    </Cartpopup>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>